.graphButton{
    background-color: rgba(150,150,150,1);
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.graphButton:hover{
    background-color: rgba(150,150,150,0.7);
}
.graph {
    position: relative;
    display: grid;
    grid-template-rows: 40px 550px 40px;
    grid-template-columns: 40px 550px 40px;
}
.graphWrap{
    float: right;
    margin-right: 50px;
    margin-left: 50px;

}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.result{
    width: 460px;
    height: 360px;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 20px;
    font-size: 24;
    max-width: calc(100% - 40px);
}
.equationInput{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px gray;
    font-size: 20;
    margin-top: 5px;
    max-width: 100%;
}
.equationInput:focus-visible {
    border: solid 2px rgb(150,150,150);
    outline: none;
}
.mainDiv{
    position: relative;
    display: inline-block;
    margin: 50px auto 0 80px;
    max-width: 90%;
}

.title{
    margin: 20px;
    border-radius: 30px;
    padding: 30px;
    background-color: #BBB;
    color: rgb(161, 14, 14);
}

.mainWrap{
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    height: 700px;
    border: solid 1px #BBB;

}

#calculateButton{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(161, 14, 14);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 18;
}
label{
    font-size: 20;
    font-weight: 600;
}
.zoomDiv{
    display: inline-block;
    margin: 0 4px 0 4px;
}

#box1{
    z-index: 0;
    width: 90px;
}

@media (max-width:1450px) {
    .title{
        margin: 10px;
    }
    .graphWrap{
        float: none;
        max-width: 90%;
        margin: 0;
    }
    .graph{
        margin-right: auto;
        margin-left: auto;
        max-width: 670px;
        aspect-ratio: 1;
        grid-template-rows: 40px 90% 40px;
        grid-template-columns: 40px 90% 40px;
    }
    #canvasId {
        max-width: 100%;
    }
    #canvasBox {
        max-width: 600px;
    }
    .mainWrap {
        height: unset;
        padding: 10px;
        
    }
    .mainDiv {
        display: block;
        margin: 5% auto;
        max-width: 500px;
    }
    .mainWrap{
        margin: 10px;
    }
    .result{
        height: 200px;
    }
}
